
/*

.dot {
    height: 100px;
    width: 100px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.top {
    height: 100vh;
}

.quick-access {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.carousel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 75px;
}

.info {
    background-image:  url('./images/raw-noodle2.jpg');
    height: 200px;
    background-size: cover;

}


*/