@font-face {
  font-family: 'Fraunces';
  src: url('./fonts/Fraunces-VariableFont_SOFT,WONK,opsz,wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Fraunces';
  src: url('./fonts/Fraunces-Italic-VariableFont_SOFT\,WONK\,opsz\,wght.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: Fraunces;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}