.background {
    width: 100%;
    position: absolute;
    z-index: -1;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: .8;

    
    background-image: url('../images/noodles-close.jpg');
    background-attachment: fixed;
    background-size: cover;
}