.hero-container {
    max-width: 80%;
    margin: 20vh auto;
    text-align: center;
    align-items: center;
}

.hero-container > * {
    margin: 0;
    padding: 0;
}

.heading {
    font-size: 3rem;
}

.description {
    font-size: 1.15rem;
    font-weight: bold;
    line-height: 40px;

    margin-top: 10px;
    margin-bottom: 20px;
}

.shop-now {
    width: 150px;
    height: 50px;
    background-color: transparent;
    font-family: Fraunces;
    font-size: 1.15rem;
    font-weight: bold;
}

.shop-now:hover {
    cursor: pointer;
}