.nav-container {
    z-index: 8888;
    width: 100%;
    position: fixed;
    padding-top: 8px;
    padding-bottom: 12px;
    top: 0;

    transition: all 0.3s ease-in-out;
    -webkit-transition: all all 0.3s ease-in-out;
}

.nav-container.scrolled {
    padding-top: 0px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.nav-items {
    margin: auto;
    padding: 0 20px;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-button, .cart-button {
    cursor: pointer;
    position: relative;
    top: 5px;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    padding-top: 10px;
}

.logo > * {
    margin: 0;
    padding: 0;
}

.logo-top {
    font-size: min(8vw, 3rem);
}

.logo-bot {
    font-size: min(2.66vw, 1rem);
    word-spacing: 1.75em;
    position: relative;
    top: -0.33vw;
}

.menu.hidden {
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: white;

    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    -webkit-transition: transform 0.3s ease-in-out;
}

.menu.visible {
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: white;

    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
    -webkit-transition: transform 0.3s ease-in-out;
}

@media screen and (max-width: 600px) {
    .menu, .cart {
        width: 100%;
    }

    .hide-on-large-screen {
        margin: auto;
        width: 40%;
    }
}

@media screen and (min-width: 600px) {
    .menu, .cart {
        width: 400px;
    }

    .hide-on-large-screen {
        display: none;
    }

    .menu-ul {
        margin-top: 10vh;
    }
}

.menu-exit {
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px 25px;
}

.bar {
    cursor: pointer;
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: #000000;
}

.bar:nth-child(2) {
    opacity: 0;
}

.bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.menu-ul {
    list-style-type: none;
}

.menu-li {
    font-size: 2rem;
    margin: 15px 0;
}

.account {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 40px;
    padding-left: 42px;
}

.cart.hidden {
    z-index: 9999;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    background-color: white;

    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    -webkit-transition: transform 0.3s ease-in-out;
}

.cart.visible {
    z-index: 9999;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    background-color: white;

    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
    -webkit-transition: transform 0.3s ease-in-out;
}

@media screen and (min-width: 600px) {
    .cart-exit {
        position: absolute;
        top: 0;
        left: 0;
        margin: 20px 25px;
    }
}

@media screen and (max-width: 600px) {
    .cart-exit {
        position: absolute;
        top: 0;
        right: 0;
        margin: 20px 25px;
    }
}

.block.hidden {
    z-index: 9090;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
}

.block.visible {
    z-index: 9090;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    
    opacity: 1;
    transition: opacity 0.3s;
}
